*{margin: 0px; padding: 0px; box-sizing: border-box;}
body{font-family: 'algerian';}
.img img{width: 100%;height: 100vh;position: absolute;}

.container{width: 100%;float: left;}
.nav{width: 54%;float:left;position: absolute;background-color: #2E2E2F;
left: 50%;transform: translate(-50%,10%);border-radius: 5px;}

.nav ul{list-style-type: none;}
.nav ul li{display: inline-block;font-size: 25px;padding: 10px;
color: white;}
.nav ul li a{text-decoration: none; color: white;}
.nav a:hover {transition: 0.5s; color: black;cursor: pointer;}
.home{border-bottom:2px solid white;}


.container .left{width: 1200px;float:left;position: absolute;top: 50%;left: 50%;
transform: translate(-50%,-50%);}
.left .content{width: 20%;float: left;display:inline-block;background-color: #2E2E2F;border-radius: 5px; padding: 20px;}

.contnt ul{list-style-type: none;}
.content ul li{font-size: 25px;padding: 10px;color: white;}
.content ul li a{text-decoration: none;color: white;}
.content a:hover{transition: 0.5s;color: black;cursor: pointer;}
.ab{border-bottom: 2px solid white;}

.left .right{width: 70%;float: right;background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));}
.right h1{color: white;margin: 20px;text-align: center;}
.right p{font-size: 20px; color: white;margin: 20px;}
.second{margin: 20px;}
.right .left-img{width: 30%;float: left;margin: 20px;}
.right .right-text{width: 60%;float: right;}
.right-text img{position: relative;}